<nav>
    <ul>
        <li><a href="/productos">Inicio</a></li>
        <li><a href="/productos/crear">Crear Producto</a></li>
        <li><a href="/productos/modificar">Modificar Producto</a></li>
        <li><a href="/productos/eliminar">Eliminar Producto</a></li>
    </ul>
</nav>